

.empty-data {
  @extend .text-tiny-dimmed;
  margin: auto;
}

.v-skeleton-loader .v-skeleton-loader__list-item-two-line {
  background: transparent !important;

  &.v-skeleton-loader__bone {
    height: 36px !important;
  }
}

.edition-toolbar {
  .v-toolbar__content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.x-input {
  background: rgba(0, 0, 0, 0.06) !important;
  border-radius: 4px 4px 0 0;
  padding: 0 12px !important;
}

.no-wrap * {
  overflow: unset !important;
  text-overflow: unset !important;
  white-space: unset !important;
}

.row-max-width {
  max-width: 600px;
}

.v-progress-circular__underlay {
  stroke-width: 2;
}

.x-primary-btn {
  cursor: pointer;
}

.col-border-r {
  border-right: 1px solid #eee;
}

.shadow-bottom {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
}

.input-list-item {
  border-radius: 4px 4px 0 0;
  background-color: #E0E0E0;
}

.text-caption-x {
  font-size: 12px;
}

.x-col {
  padding: 0 4px !important;
  text-align: center !important;
}

.ghost-btn {
  padding: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
}

.back {
  &:not(.is-logged-in) {
    background-position: center !important;

    &.is-small {
      background-size: cover !important;
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/mountain_bgd_mobile.jpg);
    }

    &:not(.is-small) {
      background-size: cover !important;
      background:linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/mountain_bgd_desktop.jpg);
    }

    #inspire {
      background: none;
    }
  }
}

.list-icon-wrapper {
  border-radius: 20px;
  max-width: 40px !important;
  margin: auto;
}

.max-width {
  width: 100%
}

.lowercase {
  text-transform: lowercase;
}

.x-tab {
  box-shadow: 0 10px 2px 0 rgba(0,0,0,0.75) !important;
}

.x-avatar {

  .v-sheet {
    border-radius: unset !important;
  }
}

.v-chip--select {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.v-tab {
  //font-weight: normal !important;
}

.floating-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
}

.x-slider {
  padding: 6px 3px;
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.text-tiny {
  font-size: 12px !important;
}

.text-tiny-dimmed {
  @extend .text-tiny;
  color: grey;
}

.text-caption-dimmed {
  font-size: 0.75rem;
  font-weight: normal;
  color: grey;
  margin: 0 0 9px 0 !important;
}

.x-check-form {
  border-radius: 4px;

  .v-subheader {
    font-size: 12px;
    height: 24px !important;
    padding: 0 !important;
  }

  .v-list--dense .v-subheader {
    height: 18px !important;
  }

  .selector-card {

    &.selected {
      border: 1px solid #000 !important;

      &.is-dark {
        border: 1px solid #FFF !important;
      }
    }

    &:before {
      opacity: 0.1;
    }
  }

  &.is-in-filter {
    &:not(.x-state-selector), &:not(.x-simple-selector), &:not(.x-category-selector) {
      .v-text-field--filled > .v-input__control > .v-input__slot {
        background: unset;
      }
    }
  }

  .v-list {
    padding: 0;
  }

  .x-check-form-card {

    border-radius: 4px 4px 0 0 !important;

    .v-list {
      border-bottom: 1px solid #757575;
    }

    &.is-dark {

      .v-list {
        border-bottom: 1px solid #BDBDBD;
      }

    }
  }
}

.app-nav-list-item {
  &.v-list-item--active {
    background: white;

    &::before {
      background: transparent;
    }
  }
}

.primary-gradient-color {
  background-image: linear-gradient(45deg, #009688, #2196F3, #9C27B0);
}
.primary-gradient-color-vertical {
  background-image: linear-gradient(90deg, #009688, #2196F3, #9C27B0);
}

.primary-gradient-color-text {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #009688, #2196F3, #9C27B0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #009688, #2196F3, #9C27B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.primary-gradient-color-text-vertical {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #009688, #2196F3, #9C27B0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #009688, #2196F3, #9C27B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.is-dark {
  .primary-gradient-color {
    color: white !important;
  }

  .primary-gradient-color-text {
    background: #FFFFFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #64FFDA, #448AFF, #E040FB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #64FFDA, #448AFF, #E040FB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .primary-gradient-color-text-vertical {
    background: #FFFFFF; /* fallback for old browsers */
    background: -webkit-linear-gradient(90deg, #64FFDA, #448AFF, #E040FB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #64FFDA, #448AFF, #E040FB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .primary-gradient-color-text,  {
    //background: -webkit-linear-gradient(45deg, #64FFDA, #448AFF, #E040FB);
  }

  .primary-gradient-color-text-vertical,  {
    //background: -webkit-linear-gradient(90deg, #64FFDA, #448AFF, #E040FB);
  }

  .app-nav-list-item {
    &.v-list-item--active {
      background: #191919;
    }
  }

  .x-input {
    background: rgba(255, 255, 255, 0.08) !important;
  }

  .col-border-r {
    border-color: #292929;
  }

  .input-list-item {
    background-color: #141414;
  }

  .v-stepper__step__step {
    color: black !important;
  }

  .text-tiny-dimmed {
    color: lightgrey;
  }

  .text-caption-dimmed {
    color: lightgrey;
  }

  .x-slider {
    background-color: rgba(255, 255, 255, 0.08) !important;
  }

  .svg-image {
    filter: brightness(0) invert(1);
  }
}

.is-small {

  .v-tabs {
    .v-item-group {
      .v-slide-group__prev, .v-slide-group__next {
        display:none !important;
      }
    }
  }

  .v-tabs-bar {
    height: 36px;
  }

  .v-tab {
    font-size: 12px !important;
  }

  .x-checklist-item {
    .v-list-item__action {
      margin-right: 16px !important;
    }
  }

  .stacked-item-data {
    line-height: 18px !important;
  }

  //.v-list-item__title {
  //  font-size: 14px !important;
  //}

  .v-list-item__subtitle {
    font-size: 12px !important;
  }

  .v-stepper--vertical .v-stepper__step {
    padding: 18px 12px !important;
  }

  .v-stepper__content {
    margin-left: 24px  !important;
    padding-top: 0  !important;
  }

  .text-tiny {
    font-size: 11px !important;
  }

  .floating-button {
    bottom: 56px;
  }

  // V-TIMELINE
  .v-timeline--dense .v-timeline-item__body {
    max-width: calc(100% - 65px) !important;
  }

  .v-timeline-item__divider {
    min-width: 65px !important;
  }
}